#layer1, #layer2, #layer3, #layer4, #layer5, #layer6, #layer7, #layer8, #layer9 {
	fill:red; 
	stroke:black;
}

#layer1:hover, #layer2:hover, #layer3:hover, #layer4:hover, #layer5:hover, #layer6:hover, #layer7:hover, #layer8:hover, #layer9:hover {
	fill:blue; 
	stroke:black;
	cursor: pointer;
}