/********GLOBAL********/

/*Style du fond et de la police de base*/
body{
	background-image: url(../images/background.png);
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #efefef;
	text-align: justify;
}

/*Style des titres*/
h2{
	font-size: 30px;
	text-align: center;
}

h3{
	margin: 5px 0px;
}

/*Textbox*/
.textbox{
	border: 0px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
    width: 150px;
    height: 20px;
}

#number{
    width: 30px;	
}

/*Plus d'infos*/
.more{
	font-size: 0.7em;
	font-style: italic;
	text-align: right;
}

/*Date news*/
.date_news{
	font-style: italic;
	margin-right: 15px;
	color: rgba(255,255,255,0.6)
}

/*Style des bouttons*/
.button{
	background-color: #9d0404;
	border: 0px;
	border-radius: 5px;
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
	padding: 5px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #efefef;
}
.button:hover{
	cursor: pointer;
	box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

/*Style d'un bloc*/
.bloc{
	background-image:linear-gradient(#444444, #272727); /* Norme W3C */
	background-image:-moz-linear-gradient(#444444, #272727); /* Firefox */
	background-image:-webkit-gradient(linear, #444444, #272727); /* Chrome, Safari */
	background-image:-o-linear-gradient(#444444, #272727); /* Opera */
	background-image:-ms-linear-gradient(#444444, #272727); /* IE */
	border-radius: 15px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
}

/********BARRE DE NAVIGATION********/

/*Style de la barre*/
#top_navigation{
	z-index: 2;
	height: 85px;
	line-height: 85px;
	background-image:linear-gradient(#525252, #272727); /* Norme W3C */
	background-image:-moz-linear-gradient(#525252, #272727); /* Firefox */
	background-image:-webkit-gradient(linear, #525252, #272727); /* Chrome, Safari */
	background-image:-o-linear-gradient(#525252, #272727); /* Opera */
	background-image:-ms-linear-gradient(#525252, #272727); /* IE */
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
}

/*Style des icons de menu*/
.icon_menu{
	margin-left: 50px;
	height: 50%;
	vertical-align:middle;
}

/*Logo du Risk*/
#logo_risk{
	margin-left: 30px;
	height: 50%;
	vertical-align:middle;
}


/********BLOC DE CONNECTION (BARRE DE NAV)********/

/*Style permettant d'aligner la division à droite*/
#table_login{
	float: right;
}

/*Espacement des cases et centrage vertical*/
#table_login table{
	line-height:normal;	
	display: inline-block;
	vertical-align: middle;
	border-collapse: separate;
	border-spacing: 40px 2px;
}


/********BOUTTONS NEW GAME AND JOIN GAME(BARRE DE NAV)********/

/*Boutton création de partie & rejoindre partie */
#button_game{
	font-size: 25px;
	padding: 5px 20px;
}


/********BLOC D'INSCRIPTION********/

/*Boutton pour s'inscrire*/
#button_submit{
	width: 270px;
	margin:auto;
	display: block;
}

/*Style du bloc: fond, possitionnement, forme, taille*/
#table_signin{
	margin: 250px auto 0px auto;
	width: 320px;
	padding: 30px;
	display: block;
}

/*Style du tableau + alignage vertical*/
#table_signin table{
	margin: 0px auto 10px auto;
	vertical-align: middle;
	border-collapse: separate;
	border-spacing: 20px 15px;
	text-align: right;
}

/*Titre h2 du bloc d'inscription*/
#table_signin h2{
	margin: 0px 0px 10px 0px;
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #efefef;
}

/********PAGE ACCUEIL********/

/*Titre h2 des différentes parties*/
#profil_home h2, #news_home h2, #stats_home h2{
	color: #9d0404;
}

/********AFFICHAGE PROFIL ACCUEIL********/

/*Style du bloc: fond, possitionnement, forme, taille*/
#profil_home {
	margin-top: 130px ;
	margin-left: 200px;
	margin-bottom: -50px;
	display: inline-block;
	line-height: 1.4em;
	padding-right: 20px;
	float: left;
}

/*Taille et possionements de achievements*/
#achievement {
	margin-top: 10px;
	height: 40px;
}

/*Style du status*/
#status_profil {
	color: green;
	font-style: italic;
}

/*Style des infos*/
#profil_infos{
	height: 200px;
	margin-left: 120px;
	padding: 8px;
}

/*Style de l'avatar*/
#avatar {
	z-index: 1;
	float: left;
	margin-left: -100px;
	position: absolute;
	height: 200px;
	padding: 8px;
	background-image:linear-gradient(#444444, #272727); /* Norme W3C */
	background-image:-moz-linear-gradient(#444444, #272727); /* Firefox */
	background-image:-webkit-gradient(linear, #444444, #272727); /* Chrome, Safari */
	background-image:-o-linear-gradient(#444444, #272727); /* Opera */
	background-image:-ms-linear-gradient(#444444, #272727); /* IE */
	border-radius:50%;
    box-shadow: -10px 0px 15px -5px rgba(0, 0, 0, 0.7);
}

/********AFFICHAGE NEWS ACCUEIL********/

/*Bloc*/
#news_home{
	margin-top: 130px;
	display: inline-block;
	width: 35%;
	min-width: 430px;
	padding: 0px 30px 30px 30px;
	margin-right: 100px;
	font-size: 0.85em;
	margin-bottom: -50px;
	float: right;
}

/*Image main news*/
#img_news{
	float: left;
	height: 120px;
	border-radius:15px;
	margin: 5px 15px 10px 0px;
}

/*style de la liste de news*/
#list_news{
	margin-top: 20px;
}

/********AFFICHAGE STATS ACCUEIL********/

/*Bloc*/
#stats_home{
	float: left;
	position: relative;
	margin-top: 130px;
	display: inline-block;
	width: 35%;
	min-width: 430px;
	padding: 0px 30px 30px 30px;
	margin-left: 100px;
	font-size: 0.85em;
	margin-bottom: -50px;
}

/*Chiffres*/
.stats_chiffre{
	font-size: 5em;
	text-align: right;
	font-weight: bold;
	vertical-align: bottom;
	padding: 0px;
	margin: -5px 5px;
}

/*Texte*/
.stats_text{
	font-size: 1.5em;
	text-align: left;
	vertical-align: bottom;
	padding: 0px;
}

/*AFFICHAGE AMIS & JOUEURS EN JEU*/

#friends, #player{
	position: fixed;
	right: 50px;
	z-index: 3;
	transition: transform 1s;
}

#friends{
	bottom: -245px;
}

#player{
	bottom: -285px;
}

.wrapped{
	transform: translateY(0px);
}

.unwrap{
	transform: translateY(-245px);
}

#languette{
	background-color: #9d0404;
	padding: 10px 15px;
	border-radius: 20px 20px 0px 0px;
	display: table;
	margin: auto;
	font-size: 1.4em;	
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
}

#list_friends{
	width: 200px;
}

#list_player{
	width: 300px;
}

.bloc_friends td, .bloc_player td{
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);	
	padding: 5px 0px 5px 16px;
}

#list_friends tr:hover, #list_player tr:hover{
	background-color: #BE4747;
}

.avatar_friends, .avatar_friends img , .avatar_player, .avatar_player img{
	width: 35px;
}

.avatar_friends img, .avatar_player img{
	border: 1px solid rgba(0,0,0,1);
}

#friends_scroll, #player_scroll{
	overflow-y: auto;	
	overflow-x: hidden;
	background-color: #9d0404;
	padding-top: 5px;
	border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
}

#friends_scroll{
    height: 200px;
    margin-bottom: 40px;
}

#player_scroll{
    height: 240px;
    margin-bottom: 40px;
}

#deroule{
	cursor: pointer;
}

#add_friends{
	position: absolute;
	bottom: 0px;
	background-image:linear-gradient(#444444, #272727); /* Norme W3C */
	background-image:-moz-linear-gradient(#444444, #272727); /* Firefox */
	background-image:-webkit-gradient(linear, #444444, #272727); /* Chrome, Safari */
	background-image:-o-linear-gradient(#444444, #272727); /* Opera */
	background-image:-ms-linear-gradient(#444444, #272727); /* IE */
	padding: 5px 0px;
	width: 200px;
	text-align: center;
}

.online{
	color: green;
	font-weight: bold;
	font-size: 0.8em;
	font-style: italic;
}

.offline{
	color: black;
	font-size: 0.8em;
	font-style: italic;
}

.ingame{
	color: yellow;
	font-style: italic;
	font-size: 0.8em;
}

a {
 text-decoration: none;
 color: white; /*par exemple*/
}

.div-info-base, .div-info-actif{
	border: 1px solid black;
	padding: 7px 20px;
	position: fixed;
	z-index: 3;	
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
	margin:0;
	text-align: center;
	color: black;
	font-size: 0.9em;
	width: 250px;
	left : 50%;
	margin-left : -125px;
}

.div-info-base{
	top: -100px;
	transition: all 1s;
}

.div-info-actif{
	top: 30px;
	transition: all 1s;
}

.container-info{
	display: inline-block;
	/* reset container's center alignment */
	text-align: left;
}

.img-info{
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
}

#room table{
	margin: auto;
}

#room{
	display: table;
	padding: 20px;
	margin: 100px auto;
}

#room h2{
	color: #9d0404;
}

.chat{
	overflow-y: auto;	
	overflow-x: hidden;
	height: 200px;
	width: 600px;
	background-image:linear-gradient(#212121, #101010); /* Norme W3C */
	background-image:-moz-linear-gradient(#212121, #101010); /* Firefox */
	background-image:-webkit-gradient(linear, #212121, #101010)); /* Chrome, Safari */
	background-image:-o-linear-gradient(#212121, #101010); /* Opera */
	background-image:-ms-linear-gradient(#212121, #101010); /* IE */
	padding: 10px;
	margin: 20px;
	margin-bottom: 0px;
	border-radius:15px 15px 0px 0px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
	vertical-align: bottom;
}

.liste-joueur{
	margin: 20px;
	border-radius:15px;
}

.player-desc td{
	padding: 0px 10px;
}

.player-desc:hover{
	background-color: #535353;
	cursor: pointer;
}

.player-desc{
	height: 100px;
	width: 200px;
}

.player-desc img{
	width: 65px;
}

#chat-message{
	margin: 20px;
	margin-top: 0px;
}

#barre-msg{
	width: 83%;
}

#send-msg{
	width: 14%;
}

.options table {
    border-collapse: collapse;
}

.options td {
    padding-top: .5em;
    padding-bottom: .5em;
}

#submit_friend{
	width: 15px;
}

.list-room{
	width: 500px;
	height: 400px;
	background-image:linear-gradient(#212121, #101010); /* Norme W3C */
	background-image:-moz-linear-gradient(#212121, #101010); /* Firefox */
	background-image:-webkit-gradient(linear, #212121, #101010)); /* Chrome, Safari */
	background-image:-o-linear-gradient(#212121, #101010); /* Opera */
	background-image:-ms-linear-gradient(#212121, #101010); /* IE */
	padding: 10px;
	margin: 20px;
	border-radius:15px 15px 0px 0px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
}
#list{
	display: table;
	margin: 100px auto;
}

.list-room{
	overflow-y: auto;	
	overflow-x: hidden;
}

.list-room table{
	width: 100%;
}

.list-room table td{
	border-bottom: 1px solid rgba(100, 100, 100, 0.5);
	border-left: none;
	border-right: none;
	border-top: none;
	border-collapse: collapse;
}

.list-room tr{
	border-collapse: collapse;
}

.list-room tr:hover{
	background-color: #535353;
}

.room-date{
	width: 20%;
}

.room-name{
	width: 75%;
}

.room-nb{
	width: 5%;
}

.country{
	fill: red;
	stroke:#000000;
	stroke-width:1;
}

.country:hover{
	stroke-width:1.5;
	opacity: 0.8;
	cursor: pointer;
}

#chat_game{
	position: fixed;
	left: 50px;
	z-index: 3;
	transition: transform 1s;
	bottom: -300px;
}

#chat_game_scroll{
	background-image:linear-gradient(#444444, #272727); /* Norme W3C */
	background-image:-moz-linear-gradient(#444444, #272727); /* Firefox */
	background-image:-webkit-gradient(linear, #444444, #272727); /* Chrome, Safari */
	background-image:-o-linear-gradient(#444444, #272727); /* Opera */
	background-image:-ms-linear-gradient(#444444, #272727); /* IE */	
	border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
	padding: 5px;
}

.wrapped_chat{
	transform: translateY(0px);
}

.unwrap_chat{
	transform: translateY(-280px);
}

#chat_game_scroll, #player_scroll{
	opacity: 0.9;
}

#map-svg{
	display: block;
	margin: auto;
}

#etat{
	position: fixed;
	left : 50%;
	margin-left : -250px;
	top: 0px;
	width: 500px;
	font-size: 2em;
	color: #fff;
	padding: 10px;
	background-image:linear-gradient(#444444, #272727); /* Norme W3C */
	background-image:-moz-linear-gradient(#444444, #272727); /* Firefox */
	background-image:-webkit-gradient(linear, #444444, #272727); /* Chrome, Safari */
	background-image:-o-linear-gradient(#444444, #272727); /* Opera */
	background-image:-ms-linear-gradient(#444444, #272727); /* IE */	
	border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);	
	opacity: 0.9;
	text-align: center;
}

#fleche{
	position: fixed;
	right : 0px;
	top: 0px;
	padding: 10px;
	background-image:linear-gradient(#444444, #272727); /* Norme W3C */
	background-image:-moz-linear-gradient(#444444, #272727); /* Firefox */
	background-image:-webkit-gradient(linear, #444444, #272727); /* Chrome, Safari */
	background-image:-o-linear-gradient(#444444, #272727); /* Opera */
	background-image:-ms-linear-gradient(#444444, #272727); /* IE */	
	border-radius: 0px 0px 0px 15px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);	
	opacity: 0.9;
	text-align: center;
}

#fleche img:hover{
	cursor: pointer;
}

#unites{
	font-size: 2em;
	position: fixed;
	left : 0px;
	top: 0px;
	padding: 10px;
	background-image:linear-gradient(#444444, #272727); /* Norme W3C */
	background-image:-moz-linear-gradient(#444444, #272727); /* Firefox */
	background-image:-webkit-gradient(linear, #444444, #272727); /* Chrome, Safari */
	background-image:-o-linear-gradient(#444444, #272727); /* Opera */
	background-image:-ms-linear-gradient(#444444, #272727); /* IE */	
	border-radius: 0px 0px 15px 0px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);	
	opacity: 0.9;
	text-align: center;
}

.td-selected{
	background-color: green;
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.8);	
}

#unites td{
	width: 50px;
}

#unites-sup{
	font-size: 1.5em;
}

.pointer-tr:hover{
	cursor: pointer;
}